body{
    margin: 0;
    width: 100vw;
    height: 96vh;
    /* width: auto; */
    
}

div {
    border: 3px green solid;
}

#head {
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    text-align: justify;
}

.space {
    padding-right: 10px;
}

.material-symbols-outlined {
    display: flex
    justify-content: ;
}

#sign {
    background-color: rgb(45, 105, 216);
    color: white;
    height: 37px;
    width: 135px;
}

#google {
    width: 272px;
    height: 20%;
    margin-left: 40%;
}

#busqueda {
    height: 10%;
}

#suerte {
    height: 8%;
    width: 52vh;
    margin-left: 37%;
}

button {
    margin-right: 8px;
    margin-left: 9px;
    border-radius: 5px;
    width: 11vw;
    height: 5vh;
    background-color: rgb(248,249,250);
    border-style: none;   
    cursor: pointer;
}

button:hover {
    border: 1px black solid;
}

a {
    text-decoration: none;
    color: inherit;
    margin-right: 6px;
}

#ofrecido {
    height: 32%;
    text-align: center;
    margin-right: 20px;
}

.blue {
    color: rgba(38, 38, 251, 0.845);
}

#footer {
    height: 15%;
    background-color: rgb(242,242,242);
}

#ESP {
    height: 45%;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#hr {
    border-bottom: 1px grey solid;
}

#publi {
    height: 45%;
    display: flex;
    align-items: center;
    /* margin-left: 25px;
    margin-right: 25px; */
    justify-content: space-between;
}

#leaf {
    display: flex;
    align-items: center;
    padding-right: 30px;
}
