body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    /* width: auto; */
    
}

div {
    /* border: 3px green solid; */
}

#head {
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    text-align: justify;
}

.space {
    padding-right: 10px;
}

#puntos {
    /* display: flex; */

}

#sign {
    background-color: rgb(45, 105, 216);
    color: white;
    height: 37px;
    width: 135px;
}

#google {
    width: 272px;
    height: 20%;
    margin-left: 41.5%;
}

#busqueda {
    margin-left: 36%;
    width: 429px;
    height: 7%;
    background-image: url(../imgs/barra.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

#bar {
    margin-top: 2px;
    width: 330px;
    height: 38px;
    border-style: hidden;
    align-self: center;
    outline: none;
}

#suerte {
    margin-top: 20px;
    height: 8%;
    width: 53vh;
    margin-left: 39%;
}

button {
    margin-right: 8px;
    margin-left: 9px;
    border-radius: 5px;
    width: 11vw;
    height: 5vh;
    background-color: rgb(248,249,250);
    border-style: none;   
    cursor: pointer;
}

button:hover {
    border: 1px black solid;
}

a {
    text-decoration: none;
    color: inherit;
    margin-right: 6px;
}

#ofrecido {
    height: 27%;
    padding-left: 41%;
    font-size: smaller;
}

.blue {
    color: rgba(38, 38, 251, 0.845);
}

#footer {
    height: 11.7%;
    background-color: rgb(242,242,242);
    
}

#ESP {
    height: 45%;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#hr {
    border-bottom: 1px grey solid;
}

#publi {
    height: 45%;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-between;
}

#leaf {
    display: flex;
    align-items: center;
    padding-right: 30px;
}
