body {
    margin: 0;
}

#container {
    background-color: aqua;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#navbar {
    background-color: blueviolet;
    color: white;
    grid-column: 1 / 6;
}

.titulo {
    background-color: greenyellow;
    grid-column: 1 / 6;
    display: flex;
    align-items: end;
}

.peli {
    background-color: orange;
}